*{
    margin:0;
    padding:0;
}
body{
    background-color: #ffffff;
    font-family: Merriweather, sans-serif;
}
header,
footer{
    height: 30px;
    background-color: rgb(40, 38, 38);
}
footer{
    padding:0.5em;
}
footer p{
    color:whitesmoke;
    font-size: 0.75rem;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 2em;
}
img{
   width:40%;
   height: auto;
   margin-bottom: 2em;

}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3125em 1em 0 0;
   }
.nav ul{
    height: 100%;
}
.nav li{
    width:6em;
    text-align: center;
    list-style-type: none;
}
.nav a{
    color:whitesmoke;
    text-decoration: none;
    font-size: 1rem;
}
.healthy_eating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width : 320px) and (max-width : 480px)
{
    footer{
        display: none;
    }
    h1{
        font-size:1rem;
    }
    img{
        width:60%;
        height: auto;
    }
}
  